.background_3QHV8 {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-image: url("/www/static/img/sunset.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}


